body {
  background-color: #ffffff;
  color: #000000;
  overflow: scroll;
}

body, html {
  height:100%;
  margin:0;
  padding:0;
  overflow: scroll;
}

header {
	text-align: center;
	background-color: #ffffff;
}

p {
  color: #000000;
}

h1 {
  margin: 80px 0 10px 0;
  font-size: 52px;
  font-family: 'COUTUREBold';
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
}

body {
  margin: 0;
  font-family: 'COUTUREBold';
}

#email {
  text-align: center;
}

.heading-title {
  position: relative;
  margin: 30px;
  color: #000000;
  font-size: 40px;
  text-align: center;
}

.contact-item {
  display: inline-grid;
  height: 350px;
  width: 300px;
  text-align: center;
  justify-content: center;
  border-style: dashed;
  margin: 10px;
}

.button-group {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.menu {
  font-weight: 100;
  background: #000000;
  width: 150px;
  height: 100%;
  padding-left: 50px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  right: -130px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: #222;
}

.menu:hover, .menu:focus {
  transform: translate3d(-130px, 0, 0);
  animation-timing-function: 1s ease-in;
}

.menu .title {
  top: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(270deg);
  left: 10px;
  font-weight: 800;
  font-size: 15px;
	color: #ffffff;
}

.menu .nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 100;
}

.menu .nav li {
  padding-bottom: 30px;
  list-style-type: none;
	color: #ffffff;
}

.menu .nav li a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.menu .nav li a:hover {
  color: #be6b7e;
}

.github-button-icon {
  text-align: center;
  top: 50%;
}

.LI-profile-badge {
  float: center;
}

#copy-button {
  float: center;
  margin: 0 auto;
  width: 60px;
  height: 20px;
}
