/* GLOBAL STYLES */
body {
  background-color: #ffffff;
  overflow: scroll;
}

body, html {
  height:100%;
  margin:0;
  padding:0;
  overflow: scroll;
}

header {
	text-align: center;
	background-color: #ffffff;
	padding-bottom: 60px;
}

main {
	object-fit: cover;
	background-image: url("background1.jpg");
	background-repeat: repeat;
	background-size: cover;
	height: 100%;
}

h1, h3 {
  color: #000000;
}

p {
  color: #000000;
}

h1 {
  margin: 80px 0 10px 0;
  font-size: 52px;
  font-family: 'COUTUREBold';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
}

body {
  margin: 0;
  font-family: 'COUTUREBold';
}

.menu {
  font-weight: 100;
  background: #000000;
  width: 150px;
  height: 100%;
  padding-left: 50px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  right: -130px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: #222;
}
.menu:hover, .menu:focus {
  transform: translate3d(-130px, 0, 0);
  animation-timing-function: 1s ease-in;
}
.menu .title {
  top: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(270deg);
  left: 10px;
  font-weight: 800;
  font-size: 15px;
	color: #ffffff;
}
.menu .nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 100;
}
.menu .nav li {
  padding-bottom: 30px;
  list-style-type: none;
	color: #ffffff;
}
.menu .nav li a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.menu .nav li a:hover {
  color: #be6b7e;
}
