/* GLOBAL STYLES */
body {
  justify-content: center;
  background-color: #ffe6e8;
  overflow: scroll;
}

body, html {
    height:100%;
    margin:0;
    padding:0;
    overflow: scroll;
}

h1, h3 {
  color: #f48498;
}

p {
  color: #e78f8e;
}
